{% extends 'base.html' %}
{% block content %}

<main>
    <div class="table-responsive">
        
        <h1 class="text-center">

            {% load static %}
            <img src="{% static 'index/img/my_race.png' %}" width="200" height="150">
        </h1>
        <h2>
            <h5 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="text-center text-danger">El equipo de A TO TRAPO RACING GT tiene el placer de presentar su
                primer campeonato. Pondremos a prueba tus habilidades como piloto en
                un total de 10 carreras con un clima variable y diferentes horas del día. La
                diversión junto a la emoción está asegurada con dos coches de máximas
                prestaciones. Las categorías elegidas para esta primera edición son Gr2 y
                Gr3.
                Desde el primer día el objetivo de esas paxanguitas era pasarlo bien entre
                amigos con un gran respeto. La esencia no cambia pero sentirás la
                adrenalina de la competición y como la clasificación por puntos pondrá a
                prueba tu concentración.</h5>

        </h2>
        {% load static %}
        <img src="{% static 'index/img/Atodo.png' %}" width="1100" height="880">
        <img src="{% static 'index/img/gran-turismo-7.jpg' %}" width="1100" height="680">
        <h4>
            <a href="https://www.twitch.tv/atotraporacing" style="color: rgb(63, 1, 59);">Síguenos en
                <img src="{% static 'index/img/twitch.png' %}" width="50" height="50"></a>
        </h4>
       

    </div>
</main>



{% endblock %}