{% extends 'base.html' %}
{% block content %}

<main>
    <div class="table-responsive">

        <h1 class="text-center">

            {% load static %}
            <img src="{% static 'index/img/my_race.png' %}" width="200" height="150">
        </h1>
        <h2>



            <div class="table-responsive">
                <img src="{% static 'index/img/Atodo.png' %}" width="1100" height="880">
                <img src="{% static 'index/img/gran-turismo-7.jpg' %}" width="1280" height="820">
                <h4>
                    <a href="https://www.twitch.tv/atotraporacing" style="color: rgb(63, 1, 59);">Síguenos en
                        <img src="{% static 'index/img/twitch.png' %}" width="50" height="50"></a>
                </h4>
            </div>

            {% load static %}

    </div>
</main>



{% endblock %}