{% extends 'base.html' %}
{% block content %}

<main>
    <div class="table-responsive">

        <h1 class="text-center">

            {% load static %}
            <img src="{% static 'index/img/my_race.png' %}" width="200" height="150">
        </h1>
        <h1 class="text-center">
            <img src="{% static 'index/img/Atodo.png' %}" width="500" height="380">
        </h1>
        <br><br><br><br>
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="text-center text-danger">
            Los 12 Pilotos que se van a disputar los campeonatos son:
        </h1><br><br><br><br>
        <h2 class="text-center">
            <img src="{% static 'index/img/avatar (1).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (2).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (3).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (4).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (5).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (6).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (7).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (8).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (9).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (10).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (11).png' %}" width="1400" height="380">
            <br><br>
            <img src="{% static 'index/img/avatar (12).png' %}" width="1400" height="380">




        </h2>
    </div>
</main>



{% endblock %}