{% extends 'base.html' %}
{% block content %}

<main>
    <div class="table-responsive">

        <h1 class="text-center">

            {% load static %}
            <img src="{% static 'index/img/my_race.png' %}" width="200" height="150">
        </h1>
        <h1 class="text-center">
            <img src="{% static 'index/img/Atodo.png' %}" width="500" height="380">
        </h1>
        <h2>
            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">
                A SIDO UN PLACER COMPARTIR LOS JUEVES CON TODOS VOSOTROS, HEMOS CREADO UN GRUPO DE AMIGOS MUY GUAPO,
                LEGAL, LIMPIO Y ESPERO
                QUE EL PRÓXIMO CAMPEONATO SEA IGUAL O MEJOR. ENHORABUENA A TODOS Y CADA UNO DE VOSOTROS.
            </h3><br><br><br><br><br>
            <h3 class="text-center text blue">El nuevo fichaje para el próximo campeonato:</h3>
            <h4 class="text-center" style="color: chocolate;">LoloLee79</h4>

            <img src="{% static 'index/img/LoloLee.jpg' %}" width="1100" height="680">

        </h2>






    </div>
</main>



{% endblock %}