{% extends 'base.html' %}
{% block content %}

<main>
    <div class="table-responsive">

        <h1 class="text-center">

            {% load static %}
            <img src="{% static 'index/img/my_race.png' %}" width="200" height="150">
        </h1>
        <h1 class="text-center">
            <img src="{% static 'index/img/Atodo.png' %}" width="500" height="380">
        </h1>
        <h2>
            <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="text-center text-red" >El Equipo de la MaFia tiene el placer de presentar el nuevo campeonato de resistencia.
            </h3><br><br><br>
            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-gray-dark">Formato del Campeonato </h1> <br><br>
            <h1 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                class="text-center text-blue">Peugeot 908 HDi FAP 2010: </h1>
            Este coche es un prototipo de resistencia con un motor diésel de V12 de 3.7 litros, capaz de generar una
            gran potencia. Esto lo hace un coche con un alto potencial de velocidad, pero también puede ser difícil de
            controlar sin ayudas electrónicas.
            Comportamiento en pista: El Peugeot 908 tiene una excelente aerodinámica, pero su comportamiento en la pista
            puede verse afectado por el desgaste de los neumáticos y el calor en las frenadas. Los pilotos deberán ser
            precisos en la conducción, aprovechando las altas velocidades de recta mientras gestionan las complejas
            curvas con control total sobre el. <br><br>
            <h1 class="text-center">
                <img src="{% static 'index/img/peugeot_908-.jpg' %}" width="350" height="280">
                <img src="{% static 'index/img/Peugeot2.jpg' %}" width="350" height="280">
                <img src="{% static 'index/img/Peugeot1.jpg' %}" width="350" height="280">
                
            <br><br><br><br>
            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">
                **1. Número de Carreras:** </h3>
            El campeonato constará de 6 carreras, cada una con una duración de 1 hora de resistencia. Estas carreras
            se llevarán a cabo en diferentes circuitos del juego,
            simulando las condiciones de resistencia de una competición real.</h4> <br><br><br><br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">**2. Reglas de Neumáticos:** </h3>
            Durante cada carrera, los pilotos estarán obligados a utilizar los 3 tipos de neumáticos disponibles en
            el juego (por lo general: neumáticos blandos, medios y duros). Esto significa que no se permitirá usar
            solo un tipo de neumático durante toda la carrera, sino que los pilotos deberán gestionar la estrategia
            de neumáticos de acuerdo a las condiciones de carrera y la duración de la prueba.

            La obligación de usar los tres tipos de neumáticos implica que los pilotos deberán realizar al menos
            tres paradas en boxes durante la carrera (una por cada tipo de neumático),
            lo que agrega una capa de estrategia en cuanto a cuándo cambiar los neumáticos y qué tipo elegir en cada
            momento.
            <br><br><br><br>



                <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                    class="text-center text-gray-dark"> Estrategia y Dinámica de Carrera </h1> <br><br><br><br>
                <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                    class="text-center text-danger">1. **Estrategia de Neumáticos:** </h3>
                Dado que los pilotos deben usar los tres tipos de neumáticos, es esencial gestionar el desgaste y el
                rendimiento de los mismos. Los neumáticos blandos ofrecen un mejor rendimiento en términos de
                velocidad, pero tienen un desgaste más rápido. Los neumáticos duros ofrecen más durabilidad pero
                menor agarre. Los neumáticos medios suelen ser una opción balanceada, proporcionando un rendimiento
                intermedio.

                Los pilotos deberán decidir cuándo realizar los cambios de neumáticos y qué tipo usar en cada
                parada, lo que dependerá del desgaste de los neumáticos actuales, la temperatura de la pista, y las
                condiciones del tráfico en carrera. <br><br><br><br>

                <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                    class="text-center text-danger">2. **Pit Stops (Paradas en Boxes):** </h3>
                Las paradas en boxes son un aspecto crucial en las carreras de resistencia. Debido a la obligación
                de usar tres tipos de neumáticos, las paradas en boxes no solo se centrarán en la gestión de
                combustible, sino también en la correcta elección del tipo de neumático. La eficiencia en las
                paradas puede marcar la diferencia entre una victoria y una derrota.
                <br><br><br><br>
                <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                    class="text-center text-danger">3. **Condiciones de Pista y Gestión de Desgaste:** </h3>
                Las condiciones de la pista (como el clima y la temperatura) pueden influir en el rendimiento de los
                neumáticos. Los pilotos deberán ser capaces de adaptarse a estos cambios y gestionar el desgaste de
                los neumáticos. Además, la gestión del combustible también jugará un papel importante, ya que
                las carreras de resistencia pueden requerir diferentes estrategias de consumo y ahorro de
                combustible. <br><br><br><br>

                <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                    class="text-center text-danger">4. **Ayudas a la Conducción:** </h3>
                Se permitirán todas la ayudas <br><br><br><br>

                <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                    class="text-center text-gray-dark">**Posibles características adicionales del campeonato:** </h1>
                Habrá una sesión de clasificación para determinar el
                orden de salida de los pilotos en cada carrera. <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-danger"> LA PARRILLA SERÁ INVERSA.</font>
                Se pueden aplicar sanciones por salidas de pista, contacto con otros pilotos, o no
                cumplir con las reglas de los neumáticos.

                En resumen, este campeonato del WEC para **GT7** será un desafío completo, donde los pilotos deberán
                combinar su habilidad de conducción sin ayudas, gestionar la estrategia de neumáticos y las paradas
                en boxes, y mantener la concentración durante una hora de carrera para lograr el mejor rendimiento
                posible.
            </h3><br><br><br><br><br>
        

        </h2>






    </div>
</main>



{% endblock %}