{% extends 'base.html' %}
{% block content %}

<main>
    <div class="table-responsive">

        <h1 class="text-center">

            {% load static %}
            <img src="{% static 'index/img/my_race.png' %}" width="200" height="150">
        </h1>
        <h1 class="text-center">
            <img src="{% static 'index/img/Atodo.png' %}" width="500" height="380">
        </h1>
        <h2>
            <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-red">
                El Equipo de la MaFia tiene el placer de presentar el nuevo campeonato Multiclase.
            </h3><br><br><br>
            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-gray-dark">Campeonato Multiclase:</h1> <br><br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger"><br>
                **1. Vehículos:** </h3>

            <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                class="text-center text-blue">Mazda MX-5 Touring Car </h4>

            <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                class="text-center text-blue">Gran Turismo RACING KART 125 Shifter</h4>

            <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                class="text-center text-blue">Peugeot 205 Turbo 16 Evo 2</h4>
                <h4 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"
                class="text-center text-blue">Super Formula '23</h4>
                
                
            <h1 class="text-center">
                <img src="{% static 'index/img/Maz3.jpg' %}" width="350" height="280">
                <img src="{% static 'index/img/Kart.jpg' %}" width="350" height="280">
                <img src="{% static 'index/img/205.jpg' %}" width="350" height="280"> 
               
               <br> <img src="{% static 'index/img/F1.jpg' %}" width="350" height="280">


            </h1>
            <br><br><br><br>
            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-gray-dark">Reglamento General:</h1><br><br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">
                **1. Número de Carreras:** </h3>
            15 en total. <br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">
                **2. Duración:** </h3>
            Se disputarán 2 carreras por jornada cuando se corra con el <font
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Mazda MX-5 Touring Car, </font> cuando sea Rally, Karts y Super Fórmula, se correrá una única carrera. <br><br>
            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">**3. Reglas de Neumáticos:** </h3>
            Al ser carreras cortas no habra limitación de neumáticos.<br><br>


            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">**4. Tipo de Pistas:**</h3>

            <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Mazda MX-5 Touring Car</font> correrá en circuitos de asfalto, tanto urbanos como de competición.
            <br>

            <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Kart</font> competirá en circuitos cortos y técnicos, ideales para este tipo de vehículos. <br>

            <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Peugeot 205 Turbo 16 Evo 2</font> se usará en trazados de tierra y nieve. <br>
            <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Super Formula</font> se usará en circuitos reales de F1. <br>


            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">**5. Puntaje:** </h3>

            Sistema de puntos basado en la posición final de cada carrera (ejemplo: 1° lugar = 25 pts, 2° lugar = 23
            pts, etc.).

            Puntaje adicional por pole position. <br><br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">**6. Condiciones de Carrera:** </h3>

            Puede haber cambios climáticos dinámicos.

            Las configuraciones de desgaste de neumáticos y consumo de combustible estarán anuladas. <br><br>
            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">7. **Ayudas a la Conducción:** </h3>
           Se permitirán todas las ayudas. <br><br><br>

            <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-gray-dark">Extras </h1> <br><br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger">Modificaciones permitidas: </h3>
            Se permitirá ajustes de Setup completos exclusivamente para el <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Mazda MX-5 Touring Car,</font>`para el resto se utilizará el B.O.P. <br><br>

            <h3 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"
                class="text-center text-danger"> Formato de salida:</h3>
            Clasificación previa en la primera carrera con parrilla estandar,
            la segunda carrera en el caso de correr con el <font
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-green">
                El Mazda MX-5 Touring Car, </font> será con parrilla invertida según resultado de la carrera anterior.
            <br><br><br>

            <h4 style="font-family: 'Times New Roman', Times, serif;"> Este campeonato equilibra cuatro estilos de
                conducción: turismos, karting, Super Fórmula y rally, haciendo que los
                pilotos
                deban adaptarse a diferentes condiciones y vehículos en cada jornada. ¡Será una experiencia muy
                desafiante
                y divertida! <br>
                Suerte a todos y sobre todo... </h4>
            <h2>
                <font style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-bold text-red">
                    A_TO'_TRAPO</font>
            </h2><br><br>

        </h2>






    </div>
</main>



{% endblock %}