{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">
    {% load static %}
    <img src="{% static 'index/img/my_race.png' %}" width="250" height="200">
</h1>
<h2 class="text-center" style="color: darkorange;">GALERIA</h2>
<h1 class="text-center">
    <img src="{% static 'index/img/Perfil alsupa.jpg' %}" width="1400" height="800">
</h1>

<div class="card">

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped">
                <a href="{% url 'upload_video' %}" class="btn btn-outline-info" role="button">Subir Nueva Imagen</a>
                {% for video in videos %}
                <li> <br><br><br>

                    
                    <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: red;">{{ video.title }}</h2>
                    <br><br>
                    <p>{{ video.description }}</p>
                    <img src="{{ video.image_file.url }}" width="800" height="600">
                    

                </li>
                {% endfor %}
                {% endblock %}