{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">
    {% load static %}
    <img src="{% static 'index/img/my_race.png' %}" width="250" height="200">
</h1>
<h2 class="text-center" style="color: darkorange;">GALERIA</h2>
<h1 class="text-center">
    <img src="{% static 'index/img/Perfil alsupa.jpg' %}" width="1400" height="800">
</h1>

<div class="card">
    
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-borderless table-striped">
                <a href="{% url 'upload_video' %}"class="btn btn-outline-info" role="button">Subir Nuevo Video</a>
                {% for video in videos %}
                <li> <br><br><br>
                    
                                <h2 style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: red;">{{ video.title }}</h2>
                                <br><br>
                                <p>{{ video.description }}</p>
                                <video width="320" height="240" controls>
                                    <source src="{{ video.video_file.url }}" type="video/mp4">
                                    Tu navegador no soporta el formato de video.
                                </video>
                </li>
                        {% endfor %}
                        {% endblock %}
   

